@model ShopOfSweets_Models.ViewModels.ProductUserVM

<form method="post" id="payment-form">
    <br />
    <div class="backgroundWhiteBorder">
        <div class="container">
            <div class="container">
                <div class="card-header text-dark ml-0 row container">
                    <div class="col-6">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        Order Summary
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-outline-secondary btn-square btn-sm" asp-action="Index">Back to Cart</a>
                    </div>
                </div>
                <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-lg-7 pb-4">
                                <div class="row my-1">
                                    <h4 class="d-flex justify-content-between mb-3">
                                        <span style="color:#821f3d">User Details:</span>
                                    </h4>
                                </div>
                                <div class="row my-1 py-2">
                                    <div class="col-3">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="ApplicationUser.FullName" required type="text" class="form-control" />
                                        @*<span asp-validation-for="ApplicationUser.FullName" class="text-danger"></span>*@
                                    </div>
                                </div>
                                <div class="row my-1 py-2">
                                    <div class="col-3">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="ApplicationUser.PhoneNumber" required type="text" class="form-control" />
                                        @*<span asp-validation-for="ApplicationUser.PhoneNumber" class="text-danger"></span>*@
                                    </div>
                                </div>
                                <div class="row my-1 py-2">
                                    <div class="col-3">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="ApplicationUser.Email" required type="text" class="form-control" />
                                        @*<span asp-validation-for="ApplicationUser.Email" class="text-danger"></span>*@
                                    </div>
                                </div>
                                 <div class="row my-1 py-2">
                                    <div class="col-3">
                                        <label>Street Address</label>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="ApplicationUser.StreetAddress" required type="text" class="form-control" />
                                       @* <span asp-validation-for="ApplicationUser.StreetAddress" class="text-danger"></span>*@
                                    </div>
                                </div>
                                 <div class="row my-1 py-2">
                                    <div class="col-3">
                                        <label>City</label>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="ApplicationUser.City" type="text" required class="form-control" />
                                        @*<span asp-validation-for="ApplicationUser.City" class="text-danger"></span>*@
                                    </div>
                                </div>
                                 <div class="row my-1 py-2">
                                    <div class="col-3">
                                        <label>Postal Code</label>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="ApplicationUser.PostalCode" type="text" required class="form-control" />
                                        @*<span asp-validation-for="ApplicationUser.PostalCode" class="text-danger"></span>*@
                                    </div>
                                </div>
                                 <div class="row my-1 py-2">
                                    <div class="col-3">
                                        <label>State</label>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="ApplicationUser.State" type="text" required class="form-control" />
                                        @*<span asp-validation-for="ApplicationUser.State" class="text-danger"></span>*@
                                    </div>
                                </div>
                            </div>
                             <div class="col-12 col-lg-5 row">
                                <div class="col-12">
                                    <h4 class="d-flex justify-content-between mb-3">
                                        <span style="color:#821f3d">Summary:</span>
                                    </h4>
                                    <ul class="list-group mb-3">

                                        @{ var orderTotal = 0.0;}

                                        @for (int i=0;i< Model.ProductList.Count();i++)
                                        {
                                            <input type="hidden" asp-for="@Model.ProductList[i].Id" />
                                            <input type="hidden" asp-for="@Model.ProductList[i].Name" />
                                            <input type="hidden" asp-for="@Model.ProductList[i].Price" />
                                            <input type="hidden" asp-for="@Model.ProductList[i].TempAmounts" />
                                            <li class="list-group-item d-flex justify-content-between">
                                                <div>
                                                    <h6 class="my-0">@Model.ProductList[i].Name</h6>
                                                <small class="text-muted">Amounts: @Model.ProductList[i].TempAmounts</small>
                                                </div>
                                                <small class="text-muted">$@(Model.ProductList[i].Price * @Model.ProductList[i].TempAmounts)</small>
                                            </li>
                                            orderTotal += Model.ProductList[i].Price * @Model.ProductList[i].TempAmounts;
                                        }
                                        <li class="list-group-item d-flex justify-content-between bg-light">
                                                <small class="text-info"> Total (USD)</small>
                                                <strong class="text-info">$@orderTotal</strong>
                                            </li>
                                    </ul>
                                </div>
                            @if (User.IsInRole(ShopOfSweets_Utility.WC.AdminRole))
                            {
                                <div class="col-12">
                                    
                                        <div class="container">
                                            <div id="dropin-container"></div>
                                            <input id="nonce" name="payment_method_nonce" type="hidden" />
                                        </div>
                                    
                                </div>
                            }
                        </div>
                            <hr />
                        </div>
                    </div>
                </div>               
                <div class="card-footer">                    
                    <div class="row">
                        <div class="col-12 col-md-4 offset-md-4">
                        @if (User.IsInRole(ShopOfSweets_Utility.WC.AdminRole))
                        {
                            <button class="btn btn-warning btn-square form-control btn-lg" onclick="return validateInput()" id="submit-button">Submit order</button>
                        }
                        else
                        {
                        <button type="submit" onclick="return validateInput()" class="btn btn-dark btn-success form-control ">
                                        <span>Submit Inquiry</span>
                            </button>
                            
                        }
                    </div>
                    </div>
                </div>
            </div>
        </div>
    
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

  <script src="https://js.braintreegateway.com/web/dropin/1.22.1/js/dropin.min.js"></script>
    <script>
        var client_token = "@ViewBag.ClientToken";
        var form = document.querySelector('#payment-form');
        braintree.dropin.create({
            authorization: client_token,
              container: '#dropin-container'
            }, function (createErr, instance) {
                    form.addEventListener('submit', function () {
                        event.preventDefault();
                        //Add the nonce to the form and submit
                                instance.requestPaymentMethod(function (err, payload) {
                                    // Submit payload.nonce to your server
                                    document.querySelector('#nonce').value = payload.nonce;
                                    form.submit();
                                });
                            });
        });
        function validateInput() {
            var app_name = document.getElementById("ApplicationUser_FullName").value;
            var app_phone = document.getElementById("ApplicationUser_PhoneNumber").value;
            var app_email = document.getElementById("ApplicationUser_Email").value;
            var app_StreetAddress = document.getElementById("ApplicationUser_StreetAddress").value;
            var app_City = document.getElementById("ApplicationUser_City").value;
            var app_PostalCode = document.getElementById("ApplicationUser_PostalCode").value;
            var app_State = document.getElementById("ApplicationUser_State").value;
            if (app_name.toString() == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter Full Name!'
                })
                return false;
            }
            if (app_phone.toString() == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter Phone Number!'
                })
                return false;
            }
            if (app_email.toString() == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter Email!'
                })
                return false;
            }
                if (app_StreetAddress.toString() == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter Street Address!'
                })
                return false;
                }
                if (app_City.toString() == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter City!'
                })
                
                return false;
                }
                if (app_PostalCode.toString() == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter Postal Code!'
                })
                
                return false;
                }
                if (app_State.toString() == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter State!'
                })
                return false;
            }
            return true;
        }
    </script>
}